@charset "UTF-8";
.container {
  width: 100%;
  margin: 0 auto;
}

h3 {
  font-size: 80px;
  text-align: center;
}

h4 {
  font-size: 60px;
}

header {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-size: 28px;
  color: #222;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav ul li {
  list-style: none;
  margin: 0 20px;
}

.header-nav ul li a {
  font-size: 22px;
}

main {
  margin: 120px 0 100px;
}

.main-title {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.pickup h3 {
  margin-bottom: 20px;
  text-align: center;
}

.slider1,
.slider2 {
  margin: 80px 0;
}

.slider1 img,
.slider2 img {
  width: 270px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
  border-radius: 20px;
}

.brand-dtail {
  background-image: url(../image/brand.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.brand-text {
  color: #fff;
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 30%;
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.brand-text h3 {
  margin-bottom: 30px;
}

.brand-text p {
  font-size: 30px;
}

.brand-text.fadeIn {
  opacity: 1;
}

.sec-margin {
  margin: 200px 0;
}

.feature-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 250px 0;
}

.feature-item ul li {
  width: 350px;
  margin: 0 auto;
  margin-bottom: 50px;
  list-style: none;
}

.feature-item ul li .image {
  width: 350px;
  height: 255px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin: 20px auto;
}

.feature-item ul li .feature-text {
  text-align: center;
  width: 100%;
}

.feature-item ul li .feature-text a {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: darkblue;
}

.feature-item ul li .feature-text a:hover {
  cursor: pointer;
}

footer {
  text-align: center;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

footer li {
  list-style: none;
  margin: 0 30px;
}

footer li a {
  font-size: 22px;
}

.sp-only {
  display: none;
}

/*タブレット*/
@media screen and (max-width: 1024px) {
  header {
    width: 90%;
    height: 70px;
  }
  video {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider1 img,
  .slider2 img {
    width: 185px;
    height: 185px;
  }
  .feature-item {
    width: 100%;
  }
  .feature-item .imgage {
    width: 90%;
    margin: 0 auto;
  }
  .feature-item .feature-text {
    width: 70%;
    margin: 0 auto;
  }
}

/*sp*/
@media screen and (max-width: 599px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
  h3 {
    font-size: 45px;
  }
  h4 {
    font-size: 30px;
  }
  header {
    width: 100%;
    padding: 0 16px;
    margin: 0;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
  }
  .header-title {
    font-size: 22px;
  }
  .humburger-btn span {
    display: block;
    background-color: #000;
    width: 40px;
    height: 4px;
    margin: 8px 0;
    border-radius: 10px;
  }
  .humburger-btn span :hover {
    cursor: pointer;
  }
  .humburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    display: none;
    z-index: -1;
  }
  .humburger-menu li {
    margin: 120px 0;
  }
  .humburger-menu li a {
    font-size: 40px;
    font-weight: 700;
  }
  .humburger-menu li a :hover {
    cursor: pointer;
  }
  .humburger-menu.show {
    display: block;
  }
  main {
    margin: 150px 0 100px;
  }
  main video {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .main-title {
    font-size: 45px;
  }
  .slider1,
  .slider2 {
    margin: 25px 0;
  }
  .slider1 img,
  .slider2 img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 10px;
  }
  .brand-dtail {
    margin-top: 100px;
    height: 500px;
  }
  .brand-dtail .brand-text {
    top: 30%;
  }
  .brand-dtail .brand-text h3 {
    letter-spacing: 0.1cm;
    margin-bottom: 30px;
  }
  .brand-dtail .brand-text p {
    font-size: 18px;
  }
  .sec-margin {
    margin: 200px 0;
  }
  footer ul {
    margin: 30px 0;
  }
  footer ul li {
    margin: 0 10px 0;
  }
  footer ul li a {
    font-size: 12px;
  }
}
/*# sourceMappingURL=index.css.map */